.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

pc_server/__pycache__/
pc_server/*.pyc
pc_server/.venv/
pc_server/.env
pc_server/*.log

pc_server/*.pt


imx6ull_client/*.o
imx6ull_client/.deps/

imx6ull_client/client
imx6ull_client/*.out
imx6ull_client/*.bin

.claude/
*.mp4
*.avi

*.md
pc_server/snapshots
*.txt