# ==========================================
# 1. 常见的系统与 IDE 垃圾文件
# ==========================================
.idea/
.vscode/
*.swp
*.swo
.DS_Store
Thumbs.db

# ==========================================
# 2. Python (pc_server) 相关
# ==========================================
pc_server/__pycache__/
pc_server/*.pyc
pc_server/.venv/
pc_server/.env
pc_server/*.log

# 如果 YOLO 模型权重文件很大（建议不要上传，或者只传小的）
# pc_server/*.pt
# pc_server/runs/  <-- YOLOv8 训练生成的实验结果文件夹

# ==========================================
# 3. C 语言 (imx6ull_client) 相关
# ==========================================
# 屏蔽编译生成的中间目标文件
imx6ull_client/*.o
imx6ull_client/.deps/

# 屏蔽编译出的可执行文件（根据你 Makefile 里的名字修改）
imx6ull_client/client
imx6ull_client/*.out
imx6ull_client/*.bin

# ==========================================
# 4. 其他
# ==========================================
.claude/
# 如果你有测试视频文件不想上传
*.mp4
*.avi